.custom{
    padding:4%;
    text-align: center; 
    background-color: bisque; 
}

.close {
    display: inline-block;
    padding: 0px;
    background: red;
    margin-left: 13px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}
 
ul {
    list-style: none;
}

li {
    padding: 3px;
} 